* {
    margin: 0;
    border: 0;
    padding: 0;
}

div {
    background-image: url(soraka.jpg);
    height: 800px;
    width: 600px;
    border: 1px solid black;
    background-size: 25%;
    background-repeat: repeat-y;
    
}